{:itonami.blueprint/id "cloud-itonami-7911"
 :itonami.blueprint/name "Community Travel Agency Operations"
 :itonami.blueprint/isic-rev5 "7911"
 :itonami.blueprint/domain :commercial/travel-agency-services
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:consumer-protection :local-jobs :access-to-travel]
 :itonami.blueprint/governor :travel-agency-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :labor]
 :itonami.blueprint/optional-technologies [:optimization]
 :itonami.blueprint/status :public-oss}
