{:kotoba.app/id "cloud.itonami.isic-7911", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifo5wsdg5h33rlw2s2p4xu5nqtmcqp6g3i4yutxperqlqvfobw5li", :kotoba.app/embed-url "ipfs://bafkreifo5wsdg5h33rlw2s2p4xu5nqtmcqp6g3i4yutxperqlqvfobw5li", :published {:archive "https://kotobase.net/ipfs/bafkreifo5wsdg5h33rlw2s2p4xu5nqtmcqp6g3i4yutxperqlqvfobw5li", :size 73134, :put-status 201, :get-status 200, :at "2026-08-15T13:54:11.804Z"}}
